<div class='motion-section card'>
    <div class='card-header'>{{proposition_name}}</div>
    <div class='card-body'>
        <button data-vote='s' disabled class='btn btn-wi fav-vote-btn vote-btn'>in favor</button>
        <div class='row'>
            <p class='text-center' style='background:#0000ff52; width:55px'>Cast</p>
            <button data-vote='o' disabled class='btn opp-vote-btn btn-second vote-btn' style='padding-left:3px'>oppose</button>
        </div>
        
        <button data-vote='a' disabled class='btn btn-wi abs-vote-btn vote-btn'>abstain</button>
    </div>
</div>