{% load static %}


<div class='intervention-form card'>
    <div class='card-header text-center'>Intervention Form</div>
    <div class='card-body'>
        <form method='POST' id='intervention-form'>
            {% csrf_token %}
            {% for field in intervention_form.visible_fields %}
                <div class='form-group'>
                    {{field.label}}
                    {{field}}
                </div>
            {% endfor %}
            <button class='btn form-btn'>Submit</button>
        </form>
    </div>
</div>

 <div class='motion-form card'>
    <div class='card-header text-center'>Motion Form</div>
    <div class='card-body'>
        <form method='POST' id='motion-form'>
         {% for field in motion_form.visible_fields %}
            <div class='form-group'>
            {{field.label}}
            {{field}}
            </div>
        {% endfor %}
        <button class='btn form-btn'>Submit</button>
        </form>
    </div>
</div>